---
http_interactions:
- request:
    method: get
    uri: https://developers-test.pinpointhq.com/api/v1/applications/8863817?extra_fields%5Bapplications%5D=attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<PINPOINT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e053d16d1156dd26d6295b1325aa69e4"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8863817","type":"applications","attributes":{"created_at":"2024-02-02T17:49:36+00:00","updated_at":"2024-02-19T16:19:44+00:00","hired_at":"2024-02-19T16:17:50+00:00","internal_candidate":true,"job_id":"174766","locale":"en","stage_id":"1539029","rejected_at":null,"phone_iso2":null,"start_on":"2024-02-26","is_demo":true,"first_name":"Elijah","last_name":"Moen","email":"elijah.moen@pinpoint.dev","phone":"+8524345377029","date_of_birth":"1976-12-17","linkedin_url":null,"summary":"This
        is an example application designed to help demonstrate Pinpoint to the team
        at Developer Acme. Please completely disregard this application as it is for
        demonstrative purposes only and will be automatically deleted in due course.","address1":"10838
        Kozey Drives","address2":"Allena Squares","town":"South Theresaview","country":"Australia","postcode":"48063-8069","preferred_pronouns":"(He/They)","channel_source":"Employee
        referral","full_name":"Elijah Moen","national_identifier":null,"channel":"manual","concealed":false,"attachments":[{"context":"cv","filename":"tom_hacquoil.pdf","url":"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeXFhK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--fd1e83ad4ffc731491feac9e1f6e92725d74dbf2/tom_hacquoil.pdf"},{"context":"pdf_cv","filename":"tom_hacquoil.pdf","url":"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeXFhK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--fd1e83ad4ffc731491feac9e1f6e92725d74dbf2/tom_hacquoil.pdf"}]},"relationships":{"job":{"meta":{"included":false}},"stage":{"meta":{"included":false}},"onboarding_application":{"meta":{"included":false}},"offers":{"meta":{"included":false}},"answers":{"meta":{"included":false}},"custom_attributes":{"meta":{"included":false}},"scorecard_ratings":{"meta":{"included":false}},"scorecard_notes":{"meta":{"included":false}},"scorecard_answers":{"meta":{"included":false}},"comments":{"meta":{"included":false}}}},"meta":{}}'
  recorded_at: Sun, 23 Jun 2024 21:37:51 GMT
- request:
    method: post
    uri: https://api.hibob.com/v1/people
    body:
      encoding: UTF-8
      string: '{"work":{"site":"New York (demo)","startDate":"2024-06-24"},"firstName":"Elijah","surname":"Moen","email":"elijah.moen@pinpoint.dev"}'
    headers:
      Authorization:
      - "<HI_BOB_AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1719178731'
    body:
      encoding: ASCII-8BIT
      string: '{"fullName":"Elijah Moen","creationDate":"2024-06-23","displayName":"Elijah
        Moen","payroll":{"additionalPensionContribution":null,"timeSinceLastSalaryChange":null,"salary":{"monthlyPayment":null,"payPeriod":null,"yearlyPayment":null,"payment":{"currency":null},"activeEffectiveDate":null,"payFrequency":null},"taxCode":null,"entitlement":{"Season
        ticket loans":{"amount":null},"Cycle to work":{"amount":null},"Company Car":{"amount":null},"Childcare
        vouchers":{"amount":null},"Lunch vouchers":{"amount":null}},"deduction":{"Season
        ticket loans":{"amount":null},"Cycle to work":{"amount":null},"Company Car":{"amount":null},"Childcare
        vouchers":{"amount":null},"Lunch vouchers":{"amount":null}},"employment":{"hoursInDayNotWorked":9,"standardWorkingPattern":null,"fte":100,"type":null,"flsaCode":null,"actualWorkingPattern":{"workingPatternType":"hourly","days":{"sunday":0,"tuesday":9,"wednesday":9,"monday":9,"friday":9,"thursday":9,"saturday":0},"hoursPerDay":9,"workingPatternId":363430},"contract":"Full
        time","calendarId":null,"salaryPayType":null,"personalWorkingPatternType":null,"workingPattern":null,"activeEffectiveDate":"2024-06-24","weeklyHours":45,"siteWorkingPattern":{"workingPatternType":"hourly","days":{"sunday":0,"tuesday":9,"wednesday":9,"monday":9,"friday":9,"thursday":9,"saturday":0},"hoursPerDay":9,"workingPatternId":363430}},"variable":{"Executive
        bonus":{"companyPercent":null,"amount":null,"paymentPeriod":null,"individualPercent":null,"departmentPercent":null},"Bonus":{"companyPercent":null,"amount":null,"paymentPeriod":null,"individualPercent":null,"departmentPercent":null},"Commission":{"companyPercent":null,"amount":null,"paymentPeriod":null,"individualPercent":null,"departmentPercent":null}}},"personal":{"communication":{"skypeUsername":null,"slackUsername":null}},"state":"uninvited","creationDateTime":"2024-06-23T21:37:51.80652","employee":{"positionId":null,"payrollManager":null,"hrbp":null,"itAdmin":null,"jobLevelId":null,"buddy":null},"work":{"shortStartDate":"06-24","startDate":"2024-06-24","manager":null,"workPhone":null,"tenureDuration":null,"durationOfEmployment":null,"reportsToIdInCompany":null,"employeeIdInCompany":null,"reportsTo":null,"workMobile":null,"indirectReports":null,"department":null,"siteId":2474159,"tenureDurationYears":0,"tenureYears":null,"isManager":false,"title":null,"site":"New
        York (Demo)","originalStartDate":"2024-06-24","activeEffectiveDate":"2024-06-24","directReports":null,"secondLevelManager":null,"daysOfPreviousService":0,"yearsOfService":0},"avatarUrl":null,"secondName":null,"about":{"foodPreferences":[],"socialData":{"linkedin":null,"twitter":null,"facebook":null},"superpowers":[],"hobbies":[],"about":null,"avatar":"https://media-process.hibob.com/image/upload/b_rgb:C85C8A/co_white,l_text:Arial_50_bold:EM,g_center/hibob/default-avatar/transparent_avatar.png?token=X19jbGRfdG9rZW5fXz1leHA9NDgzNDYyODAxNH5hY2w9KiUyZmhpYm9iJTJmZGVmYXVsdC1hdmF0YXIlMmZ0cmFuc3BhcmVudF9hdmF0YXIucG5nKn5obWFjPThlYWExNDdjOWEzNWQwZjg3ZmQ1YmJkZTRiYTA4ZjE1YzExZjYzNWQxMmVkNzRmZGE1NmIwZDU5MDg4YTJmOGE=&vendor=cloudinary"},"companyId":631640,"email":"elijah.moen@pinpoint.dev","surname":"Moen","home":{"mobilePhone":null,"privateEmail":null,"privatePhone":null},"coverImageUrl":"https://media-process.hibob.com/image/upload/v1/hibob/public-image/cover/white_default_cover_image.png?token=X19jbGRfdG9rZW5fXz1leHA9MTczMDgwMTQ2NX5hY2w9KiUyZmhpYm9iJTJmcHVibGljLWltYWdlJTJmY292ZXIlMmZ3aGl0ZV9kZWZhdWx0X2NvdmVyX2ltYWdlLnBuZyp+aG1hYz0wMDQ5MGJkNjQ5N2Y2ZDQ5OGY5ZTVmZTMxYTYwNTI1NDA4ZTVhOGE4YWFmMWU3ZTZjYzVkNzlmNzVjODA3YTkw&vendor=cloudinary","id":"3397039371856118302","firstName":"Elijah"}'
  recorded_at: Sun, 23 Jun 2024 21:37:52 GMT
- request:
    method: post
    uri: https://api.hibob.com/v1/docs/people/3397039371856118302/shared
    body:
      encoding: UTF-8
      string: '{"documentName":"cv_pdf","documentUrl":"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeXFhK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--fd1e83ad4ffc731491feac9e1f6e92725d74dbf2/tom_hacquoil.pdf"}'
    headers:
      Authorization:
      - "<HI_BOB_AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"15584262","employeeId":"3397039371856118302","uploadedById":"SERVICE-11334","name":"cv_pdf","creationDate":"2024-06-23T21:37:53.720473","status":"Created","tags":[],"folderId":1047097,"mimeType":"application/pdf","fileId":20594580,"documentName":"cv_pdf","owner":{"id":"3397039371856118302"},"actionRequestDate":null,"actionCompleteDate":null}'
  recorded_at: Sun, 23 Jun 2024 21:37:53 GMT
- request:
    method: post
    uri: https://developers-test.pinpointhq.com/api/v1/comments
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"body_text":"Record created with ID: 3397039371856118302"},"relationships":{"commentable":{"data":{"type":"applications","id":"8863817"}}},"type":"comments"}}'
    headers:
      X-Api-Key:
      - "<PINPOINT_API_KEY>"
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"4639bf7306a32d063a3e0fa4d8f86c37"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3420241","type":"comments","attributes":{"body_text":"Record
        created with ID: 3397039371856118302","commentable_id":"8863817","commentable_type":"Application","created_at":"2024-06-23T21:37:54+00:00","private_comment":false,"updated_at":"2024-06-23T21:37:54+00:00","user_id":"95960"},"relationships":{"user":{"meta":{"included":false}},"commentable":{"data":{"type":"applications","id":"8863817"}}}},"included":[{"id":"8863817","type":"applications","attributes":{"created_at":"2024-02-02T17:49:36+00:00","updated_at":"2024-02-19T16:19:44+00:00","hired_at":"2024-02-19T16:17:50+00:00","internal_candidate":true,"job_id":"174766","locale":"en","stage_id":"1539029","rejected_at":null,"phone_iso2":null,"start_on":"2024-02-26","is_demo":true,"first_name":"Elijah","last_name":"Moen","email":"elijah.moen@pinpoi[...]
