---
http_interactions:
- request:
    method: get
    uri: https://developers-test.pinpointhq.com/api/v1/applications/8863801?extra_fields%5Bapplications%5D=attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<PINPOINT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"b89ff5ed3c032fad92254bfd5d02b973"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8863801","type":"applications","attributes":{"created_at":"2024-01-30T04:29:36+00:00","updated_at":"2024-04-17T19:30:21+00:00","hired_at":null,"internal_candidate":true,"job_id":"174766","locale":"en","stage_id":"1539023","rejected_at":null,"phone_iso2":"TH","start_on":null,"is_demo":true,"first_name":"Billie","last_name":"Pagac","email":"billie.pagac@pinpoint.dev","phone":"+667626768275414","date_of_birth":"1990-11-03","linkedin_url":null,"summary":"This
        is an example application designed to help demonstrate Pinpoint to the team
        at Developer Acme. Please completely disregard this application as it is for
        demonstrative purposes only and will be automatically deleted in due course.","address1":"562
        Anglea Highway","address2":"Mante Inlet","town":"Lake Kallie","country":"Macao","postcode":"63358","preferred_pronouns":"(She/They)","channel_source":"Indeed","full_name":"Billie
        Pagac","national_identifier":null,"channel":"social","concealed":false,"attachments":[{"context":"cv","filename":"tom_hacquoil.pdf","url":"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeG1hK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--cab286d9864beb246b31cb3d5d0191e072fdd9d9/tom_hacquoil.pdf"},{"context":"pdf_cv","filename":"tom_hacquoil.pdf","url":"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeG1hK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--cab286d9864beb246b31cb3d5d0191e072fdd9d9/tom_hacquoil.pdf"}]},"relationships":{"job":{"meta":{"included":false}},"stage":{"meta":{"included":false}},"onboarding_application":{"meta":{"included":false}},"offers":{"meta":{"included":false}},"answers":{"meta":{"included":false}},"custom_attributes":{"meta":{"included":false}},"scorecard_ratings":{"meta":{"included":false}},"scorecard_notes":{"meta":{"included":false}},"scorecard_answers":{"meta":{"included":false}},"comments":{"meta":{"included":false}}}},"meta":{}}'
  recorded_at: Sun, 23 Jun 2024 23:12:26 GMT
- request:
    method: post
    uri: https://api.hibob.com/v1/people
    body:
      encoding: UTF-8
      string: '{"firstName":"Billie","surname":"Pagac","email":"billie.pagac@pinpoint.dev","work":{"site":"New
        York (demo)","startDate":"2024-06-24"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<HI_BOB_AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"key":"validations.email.alreadyexists","error":"Email billie.pagac@pinpoint.dev
        already exists","args":["billie.pagac@pinpoint.dev"]}'
  recorded_at: Sun, 23 Jun 2024 23:12:26 GMT
recorded_with: VCR 6.2.0
...
