---
http_interactions:
- request:
    method: get
    uri: https://developers-test.pinpointhq.com/api/v1/applications/8863807?extra_fields%5Bapplications%5D=attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<PINPOINT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"9d4fc5cc74b3bb9eef0679f9c25e1ac3"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8863807","type":"applications","attributes":{"created_at":"2024-02-03T04:35:36+00:00","updated_at":"2024-04-18T06:04:29+00:00","hired_at":null,"internal_candidate":true,"job_id":"174766","locale":"en","stage_id":"1539024","rejected_at":null,"phone_iso2":"US","start_on":null,"is_demo":true,"first_name":"Williams","last_name":"Lockman","email":"williams.lockman@pinpoint.dev","phone":"+17080521228","date_of_birth":"2003-10-20","linkedin_url":null,"summary":"This
        is an example application designed to help demonstrate Pinpoint to the team
        at Developer Acme. Please completely disregard this application as it is for
        demonstrative purposes only and will be automatically deleted in due course.","address1":"4271
        Kayleen Inlet","address2":"Imelda Corners","town":"Lake Bricemouth","country":"Lesotho","postcode":"40126","preferred_pronouns":"(They/Them/Theirs)","channel_source":"Careers
        site","full_name":"Williams Lockman","national_identifier":null,"channel":"in_store","concealed":false,"attachments":[{"context":"cv","filename":"tom_hacquoil.pdf","url":"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeDZhK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6a9cfa9457e57b0719c3f75de9aa960cce5227c0/tom_hacquoil.pdf"},{"context":"pdf_cv","filename":"tom_hacquoil.pdf","url":"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeDZhK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6a9cfa9457e57b0719c3f75de9aa960cce5227c0/tom_hacquoil.pdf"}]},"relationships":{"job":{"meta":{"included":false}},"stage":{"meta":{"included":false}},"onboarding_application":{"meta":{"included":false}},"offers":{"meta":{"included":false}},"answers":{"meta":{"included":false}},"custom_attributes":{"meta":{"included":false}},"scorecard_ratings":{"meta":{"included":false}},"scorecard_notes":{"meta":{"included":false}},"scorecard_answers":{"meta":{"included":false}},"comments":{"meta":{"included":false}}}},"meta":{}}'
  recorded_at: Mon, 24 Jun 2024 07:59:30 GMT
- request:
    method: post
    uri: https://api.hibob.com/v1/people
    body:
      encoding: UTF-8
      string: '{"firstName":"Williams","surname":"Lockman","email":"williams.lockman@pinpoint.dev","work":{"site":"New
        York (demo)","startDate":"2024-06-25"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<HI_BOB_AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1719216030'
    body:
      encoding: ASCII-8BIT
      string: '{"fullName":"Williams Lockman","creationDate":"2024-06-24","displayName":"Williams
        Lockman","payroll":{"additionalPensionContribution":null,"timeSinceLastSalaryChange":null,"salary":{"monthlyPayment":null,"payPeriod":null,"yearlyPayment":null,"payment":{"currency":null},"activeEffectiveDate":null,"payFrequency":null},"taxCode":null,"entitlement":{"Season
        ticket loans":{"amount":null},"Cycle to work":{"amount":null},"Company Car":{"amount":null},"Childcare
        vouchers":{"amount":null},"Lunch vouchers":{"amount":null}},"deduction":{"Season
        ticket loans":{"amount":null},"Cycle to work":{"amount":null},"Company Car":{"amount":null},"Childcare
        vouchers":{"amount":null},"Lunch vouchers":{"amount":null}},"employment":{"hoursInDayNotWorked":9,"standardWorkingPattern":null,"fte":100,"type":null,"flsaCode":null,"actualWorkingPattern":{"workingPatternType":"hourly","days":{"sunday":0,"tuesday":9,"wednesday":9,"monday":9,"friday":9,"thursday":9,"saturday":0},"hoursPerDay":9,"workingPatternId":363430},"contract":"Full
        time","calendarId":null,"salaryPayType":null,"personalWorkingPatternType":null,"workingPattern":null,"activeEffectiveDate":"2024-06-25","weeklyHours":45,"siteWorkingPattern":{"workingPatternType":"hourly","days":{"sunday":0,"tuesday":9,"wednesday":9,"monday":9,"friday":9,"thursday":9,"saturday":0},"hoursPerDay":9,"workingPatternId":363430}},"variable":{"Executive
        bonus":{"companyPercent":null,"amount":null,"paymentPeriod":null,"individualPercent":null,"departmentPercent":null},"Bonus":{"companyPercent":null,"amount":null,"paymentPeriod":null,"individualPercent":null,"departmentPercent":null},"Commission":{"companyPercent":null,"amount":null,"paymentPeriod":null,"individualPercent":null,"departmentPercent":null}}},"personal":{"communication":{"skypeUsername":null,"slackUsername":null}},"state":"uninvited","creationDateTime":"2024-06-24T07:59:31.050325","employee":{"positionId":null,"payrollManager":null,"hrbp":null,"itAdmin":null,"jobLevelId":null,"buddy":null},"work":{"shortStartDate":"06-25","startDate":"2024-06-25","manager":null,"workPhone":null,"tenureDuration":null,"durationOfEmployment":null,"reportsToIdInCompany":null,"employeeIdInCompany":null,"reportsTo":null,"workMobile":null,"indirectReports":null,"department":null,"siteId":2474159,"tenureDurationYears":0,"tenureYears":null,"isManager":false,"title":null,"site":"New
        York (Demo)","originalStartDate":"2024-06-25","activeEffectiveDate":"2024-06-25","directReports":null,"secondLevelManager":null,"daysOfPreviousService":0,"yearsOfService":0},"avatarUrl":null,"secondName":null,"about":{"foodPreferences":[],"socialData":{"linkedin":null,"twitter":null,"facebook":null},"superpowers":[],"hobbies":[],"about":null,"avatar":"https://media-process.hibob.com/image/upload/b_rgb:EB7A29/co_white,l_text:Arial_50_bold:WL,g_center/hibob/default-avatar/transparent_avatar.png?token=X19jbGRfdG9rZW5fXz1leHA9NDgzNDYyODAxNH5hY2w9KiUyZmhpYm9iJTJmZGVmYXVsdC1hdmF0YXIlMmZ0cmFuc3BhcmVudF9hdmF0YXIucG5nKn5obWFjPThlYWExNDdjOWEzNWQwZjg3ZmQ1YmJkZTRiYTA4ZjE1YzExZjYzNWQxMmVkNzRmZGE1NmIwZDU5MDg4YTJmOGE=&vendor=cloudinary"},"companyId":631640,"email":"williams.lockman@pinpoint.dev","surname":"Lockman","home":{"mobilePhone":null,"privateEmail":null,"privatePhone":null},"coverImageUrl":"https://media-process.hibob.com/image/upload/v1/hibob/public-image/cover/white_default_cover_image.png?token=X19jbGRfdG9rZW5fXz1leHA9MTczMDgwMTQ2NX5hY2w9KiUyZmhpYm9iJTJmcHVibGljLWltYWdlJTJmY292ZXIlMmZ3aGl0ZV9kZWZhdWx0X2NvdmVyX2ltYWdlLnBuZyp+aG1hYz0wMDQ5MGJkNjQ5N2Y2ZDQ5OGY5ZTVmZTMxYTYwNTI1NDA4ZTVhOGE4YWFmMWU3ZTZjYzVkNzlmNzVjODA3YTkw&vendor=cloudinary","id":"3397352260643062621","firstName":"Williams"}'
  recorded_at: Mon, 24 Jun 2024 07:59:31 GMT
- request:
    method: post
    uri: https://api.hibob.com/v1/docs/people/3397352260643062621/shared
    body:
      encoding: UTF-8
      string: '{"documentName":"cv_pdf","documentUrl":"https://pinpointhq.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeDZhK0E9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6a9cfa9457e57b0719c3f75de9aa960cce5227c0/tom_hacquoil.pdf"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<HI_BOB_AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"15587714","employeeId":"3397352260643062621","uploadedById":"SERVICE-11334","name":"cv_pdf","creationDate":"2024-06-24T07:59:33.381961","status":"Created","tags":[],"folderId":1047097,"mimeType":"application/pdf","fileId":20600447,"documentName":"cv_pdf","owner":{"id":"3397352260643062621"},"actionRequestDate":null,"actionCompleteDate":null}'
  recorded_at: Mon, 24 Jun 2024 07:59:33 GMT
- request:
    method: post
    uri: https://developers-test.pinpointhq.com/api/v1/comments
    body:
      encoding: UTF-8
      string: '{"data":{"relationships":{"commentable":{"data":{"type":"applications","id":8863807}}},"type":"comments","attributes":{"body_text":"Record created with ID: 3397352260643062621"}}}'
    headers:
      X-Api-Key:
      - "<PINPOINT_API_KEY>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"unprocessable_entity","status":"422","title":"Validation
        Error","detail":"Commentable must exist","source":{"pointer":"/data/relationships/commentable"},"meta":{"attribute":"commentable","message":"must
        exist","code":"blank"}},{"code":"unprocessable_entity","status":"422","title":"Validation
        Error","detail":"Body text can''t be blank","source":{"pointer":"/data/attributes/body_text"},"meta":{"attribute":"body_text","message":"can''t
        be blank","code":"blank"}}]}'
  recorded_at: Mon, 24 Jun 2024 07:59:33 GMT
recorded_with: VCR 6.2.0
