---
http_interactions:
- request:
    method: get
    uri: https://developers-test.pinpointhq.com/api/v1/applications/1234567890?extra_fields%5Bapplications%5D=attachments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<PINPOINT_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"not_found","status":"404","title":"Not Found","detail":"Specified
        Record Not Found"}]}'
  recorded_at: Sun, 23 Jun 2024 22:38:26 GMT
recorded_with: VCR 6.2.0
